[submodule "packages/evm/lib/openzeppelin-contracts"]
	path = packages/evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/evm/lib/hyperlane-monorepo"]
	path = packages/evm/lib/hyperlane-monorepo
	url = https://github.com/hyperlane-xyz/hyperlane-monorepo
[submodule "packages/evm/lib/permit2"]
	path = packages/evm/lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "packages/evm/lib/optimism"]
	path = packages/evm/lib/optimism
	url = https://github.com/ethereum-optimism/optimism
[submodule "packages/evm/lib/aztec-packages"]
	path = packages/evm/lib/aztec-packages
	url = https://github.com/AztecProtocol/aztec-packages
[submodule "packages/evm/lib/lib-keccak"]
	path = packages/evm/lib/lib-keccak
	url = https://github.com/ethereum-optimism/lib-keccak
[submodule "packages/evm/lib/forge-std"]
	path = packages/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
